*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/fondo.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

.header{
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 5%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.nav-links {
    color: white;
}

.nav-links .label {
    color: white;
    font-size: 16px;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .btnh button{
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btnh button:hover{
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}

p {
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 25px;
    margin-top: 40px;
}

.table1{
    width: 70%;
    height: auto;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    text-align: left;
    padding: 17px;
    transition: all 0.2s;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    margin-bottom: 7px;
}

.table1x{
    width: 70%;
    height: auto;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    text-align: left;
    padding: 25px;
    transition: all 0.2s;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    margin-bottom: 70px;
    padding-bottom: 30px;
}

.table1x .btnx input{
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.table1x .btnx input:hover{
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}

.table1x .btnbusq input{
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    width: 380px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-right: 15px;
}

.descargar-archivo {
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-size: 13px;
}

.descargar-archivo:hover{
    background-color: #e2f1f8;
    color: #ffbc0e;
}

.ver-archivo {
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-size: 13px;
}

.ver-archivo:hover{
    background-color: #e2f1f8;
    color: #ffbc0e;
}